.Rproj.user
.Rhistory
.RData
.Ruserdata

cache/
data/
output/

# Individual output files
munge/00\.01\.PreprocessAvian_SS\.docx

images/

RDataFiles/

rawData/

D\.rankPatterns/figures/

*.docx

E\.birdDensityPatterns/E\.01\.DensityPatterns\.html

E\.birdDensityPatterns/figures/



*.csv

B\.samplingGapAnalysis/GISfiles/

B\.samplingGapAnalysis/merged1\.xlsx

*.png

B\.samplingGapAnalysis/GapAnalysisJuly23\.mxd

*.tif

*.jpg

*.cpg

*.dbf

*.prj

*.sbn

*.sbx

*.shp

*.shx

B\.samplingGapAnalysis/ZeroSurveyEffortSummedbyFMA\.pptx

B\.samplingGapAnalysis/schema\.ini

C\.samplingGapAnalysis/GISfiles/

C\.samplingGapAnalysis/GapAnalysisJuly23\.mxd

*.xml
